---
title: Julkallender
body_class: index
---

#wrapper
  .container

    - data.texts.date.each do |data|
      .box(date="#{data['date']}")= data['date']

  - data.texts.date.each do |data|
    .popup.hide{:id => "popup#{data['date']}", :style => "background-color:#{data['background']}"}
      .close ×
      %img.head(src="#{data['image-head']}")
      .body
        .left
          .box= data['date']
        .right
          %h1= data['heading']
          =data['text']
      %a.foot{:href => "#{data['foot-link']}", :style => "background-image: url('#{data['image-foot']}')"}

  .darken.hide
